body {
    background-color: #d6d8d9;
}
.cell {
    height: 50px;
    background: #dddddd;

}
.highlight {
    background-color: lightgreen;
}
.row-height {
    height: 25px;
}
.btn-width {
    width: 100px;
}